*{
    margin:10;
    padding:0;
    box-sizing:border-box;
}
table{
    border-collapse: collapse;
    text-align:center;
}
table, tr, th, td{
    border: 2px solid black;
    width:400px;
    padding:5px;
}

table tr th{
    font-size:18px;
}
